/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #862030;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

/* Contenedor de la caja de inicio de sesión */
.container {
    background-color: rgb(233, 233, 241);
    padding: 35px;
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 450px; /* Ancho fijo para la caja */
    text-align: center; /* Centrar texto */
}

/* Encabezados */
h1 {
    color: rgba(81, 53, 53, 0.571);
    margin-bottom: 30px; /* Espacio debajo del título */
}

/* Estilo para las etiquetas y entradas */
label {
    display: block; /* Asegura que cada etiqueta ocupe una línea */
    margin: 10px 0 5px; /* Espaciado */
}

input {
    width: 80%; /* Ancho completo */
    padding: 10px;
    margin-bottom: 15px; /* Espacio entre campos */
    border: 1px solid #ddd;
    border-radius: 4px; /* Esquinas redondeadas */
}

/* Estilo para botones */
button {
    background-color: #805f5f; /* Color de fondo */
    color: black(26, 226, 103);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 16px;
}

button:hover {
    background-color: #be164e; /* Color más oscuro al pasar el ratón */
}